<br>
<% if @detail.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @detail.errors.full_messages.each do |error| %>
        <li> <%= error %> </li>
      <% end %>
    </ul>
  </div>
<% end %>