// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
@import "font-awesome";
.container{
    margin-top: 50%;
}
.groupInfo{
    display: flex;
    margin-top: 3%;
}
.showGroups{
    width:20%;
    flex: .25;
    height:15%;
    border:1px solid black ;
    padding:3%;
    padding-top:1% ;
    background-color: blue($color: #000000);
}
.content{
    display: flex;
    justify-content: space-between;
}
.userInfo{
    background-color: whitesmoke;
    width:35em;
    height:40%;
    border:5px solid whitesmoke ;
    padding-left:3%;
    margin:50vh;
    margin-top: 7vh;
}
.form{
    margin-top: 5%;
}
.links{
    margin-left: 30%;
    padding-bottom: 3%;
}
h1{
    margin-bottom: 5%;
    margin-left: 50%;
}