.groupInfo{
    display: flex;
    margin-top: 3%;
}
.showGroups{
    width:30%;
    flex: .25;
    height:15%;
    border:4px solid whitesmoke ;
    padding:3%;
    padding-top:1% ;
    border-radius: 15px;
    margin-left: 10%;
    background-color:whitesmoke;
}
.formContent{
    margin-left: 40%;
    margin-top: 10px;
}

.content{
    display: flex;
    justify-content: space-between;
}
.userInfo{
    background-color: whitesmoke;
    width:35em;
    height:40%;
    border:5px solid whitesmoke ;
    padding-left:3%;
    margin:50vh;
    margin-top: 7vh;
}
.form{
    margin-top: 5%;
}
.links{
    margin-left: 30%;
    padding-bottom: 3%;
}
h1{
    margin-left: 50%;
    margin-top: -86px;
}
    