<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Restaurant</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/loginutil.css">
	<link rel="stylesheet" type="text/css" href="/assets/loginmain.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
        <div class="login100-form validate-form p-l-55 p-r-55 p-t-178">
       <%= @message %> 


          </div>
        </div>
		</div>
	</div>
	

</body>
</html>


  
 


<%# <%= render "devise/shared/links" %>
